.home-wrapper {
  h1 {
    font-size: 5em;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 96px 0 8px;
  }
  h2 {
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 8px;
  }
  h3 {
    font-size: 1.2em;
    font-weight: 500;
    margin: 32px 0 8px;
  }
  h4 {
    font-size: 0.833em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 24px 0 8px;
    opacity: 0.4;
  }
  h5 {
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    margin: 8px 0;
  }

  section {
    padding: 72px 0;
    position: relative;
  }

  .btn {
    background: transparent;
    font-size: 12px;
    letter-spacing: 2px;
    line-height: 44px;
    border: 2px solid transparent;
    width: 214px;
    margin: 56px 0;
    transition: background 500ms;
  }
}

#banner {
  background: $white;
  color: $black-20;
  position: relative;
  @include venderPrefix(user-select, none);

  > .fps > div {
    position: absolute !important;
    bottom: 24px !important;
    right: 10px !important;
    top: inherit !important;
    left: inherit !important;
  }
  >.hero {
    position: absolute;
    top: 0;
  }
  > .container {
    position: relative;
  }

  p {
    font-size: 16px;
    color: $black-40;
  }
  .btn {
    text-transform: none;
    font-size: 16px;
    color: $white;
    background: $black;
  }
  .btn:hover {
    background: $black-40;
  }
}

#features {
  position: relative;

  .texts >div {
    max-width: 50%;
    width: 480px;
  }
  .image {
    position: absolute;
    height: 110%;
    width: 50%;
    top: 0;
    right: 0;
    z-index: -1;
    border-top: solid 200px transparent;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right top;
  }

  h2, h3 {
    color: $black-20;
    position: relative;
  }
  h3 > img {
    position: absolute;
    top: -4px;
    width: 36px;
    left: -48px;
  }
  .buttons {
    margin-top: 48px;

    .btn .icon {
      font-size: 20px;
      margin-left: 4px;
      opacity: 0.5;
      vertical-align: middle;
    }
    .btn:hover .icon {
      opacity: 1;
    }
  }
  .btn {
    border-color: $black;
    margin: 12px;
    min-width: 214px;
    color: $black;
  }
  .btn:hover {
    background: $black;
    color: $white;
  }
}
#footer {
  background-size: 32px;
  background-repeat: repeat;
  color: $white;

  .icon-uber-logo {
    font-size: 24px;
  }

  h4 {
    font-size: 12px;
    margin-bottom: 24px;
    font-weight: 300;
  }
}
@media screen and (max-width: 768px) {
  .home-wrapper {
    h1 {
      font-size: 3.6em;
    }
    h2 {
      font-size: 1.6em;
    }
  }
  #banner {
    p {
      font-size: 12px;
    }
  }
  #features {
    .container >div {
      max-width: 100%;
      width: 100%;
    }
    .image {
      display: none;
    }
    .btn {
      padding: 0 24px;
      width: auto;
    }
  }
  .floater {
    display: none;
  }
}
