@import 'markdown';
@import 'mixins';
@import 'icon';
@import 'fontface';

$primary: #00ADE6;
$secondary: #05E3D5;
$black: #041725;
$black-20: #213746;
$black-40: #5A666D;
$white: #EDEDED;
$white-40: #8D9BA3;
$topbar-height: 64px;

@import 'home';
@import 'gallery';

body {
  font-family: "UberMove", "Helvetica Neue", Helvetica, sans-serif !important;
  font-size: 12px;
  line-height: 1.833;
  overflow-y: auto;
}

p, li, td, th {
  font-family: "UberMoveText";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
}
a, a:visited {
  color: $primary;
}
button, .btn {
  color: #aaa;
  text-align: center;
  background: $white;
  padding: 4px 8px;
  border: solid 1px #ccc;
  cursor: pointer;
  text-transform: uppercase;
}

header {
  white-space: nowrap;
  position: relative;
  z-index: 10001;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 300ms;
  max-height: $topbar-height;
  line-height: $topbar-height;
  overflow: hidden;
  @include venderPrefix(user-select, none);

  .bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: $black;
  }
  .logo {
    color: $white !important;
    float: left;
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  .menu-toggle {
    font-size: 24px;
    color: $white;
    float: right;
    cursor: pointer;
    display: none;
  }

  .links {
    float: right;

    a {
      line-height: 58px;
      color: $white-40;
      text-transform: uppercase;
      margin-left: 40px;
      border-style: solid;
      border-width: 3px 0 0 0;
      border-color: transparent;
    }
    a:hover {
      border-color: $white-40;
    }
    a.active {
      color: $white;
      border-color: $primary;
      @include linearGradientH(border-image, $primary, $secondary);
      border-image-slice: 2;
    }
    .icon {
      line-height: 0;
      margin-left: 4px;
    }
  }
}

.site-links {
  position: fixed;
  padding-left: 24px;
  padding-right: 40px;
  margin-left: -24px;
  transition: all 300ms;
  max-height: $topbar-height;
  overflow: hidden;

  &:after {
    content: '▾';
    display: block;
    position: absolute;
    top: 0;
    right: 12px;
    color: $black-40;
  }

  .site-link {
    font-weight: 700;
    letter-spacing: 4px;
    text-transform: uppercase;
    width: 100%;

    a {
      width: 100%;
      color: $white;
    }

    &:nth-child(n+2) {
      opacity: 0.5;
    }
    &:hover {
      opacity: 1 !important;
    }
  }

  &:hover {
    background: $black;
    max-height: $topbar-height * 5;
  }
}

button:focus, input:focus {
  outline: none;
}
.container {
  padding: 0 24px;
  margin: 0 auto;
  max-width: 1280px;
  width: 100%;
  overflow: hidden;
}
.container.stretch {
  max-width: 100%;
}
.container.soft-left {
  padding-left: 72px;
}
hr {
  border: none;
  background: $white;
  height: 1px;
}
hr.short {
  display: inline-block;
  margin: 24px 0 0;
  width: 32px;
  height: 2px;
  @include linearGradientH(background, $primary, $secondary);
}
.fullheight {
  height: 100vh;
  max-height: 100%;
}
.flexbox--row {
  display: flex;
  flex-direction: row;
  height: 100%;

  .flexbox-item {
    position: relative;
    flex: 0 1 auto;
    height: 100%;
  }
  .flexbox-item--fill {
    flex: 1 1 auto;
  }
}
.layout {
  display: table;
  width: 100%;

  >* {
    display: table-cell !important;
  }
  .col-1-3 {
    width: 33.33%;
  }
  .col-1-2 {
    width: 50%;
  }
}
.top-left {
  position: absolute;
  left: 0;
  top: 0;
}
.top-right {
  position: absolute;
  right: 0;
  top: 0;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.bg-black {
  background: $black;
  color: $white;
}

.mapbox-tip {
  position: absolute;
  right: 4px;
  bottom: 24px;
  color: $white-40;
}
.mapboxgl-ctrl-attrib {
  white-space: nowrap;
  position: absolute;
  bottom: 2px;
  right: 4px;
  z-index: 9;
}
.overlays {
  cursor: crosshair;
}
.floater {
  position: fixed;
  bottom: 0;
  right: 8px;
  font-weight: 700;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 8px 12px;
  background: red;
  color: #fff !important;
  cursor: pointer;
  transition: padding 0.3s;

  &:hover {
    padding-bottom: 24px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 12px;
  }

  header {
    .menu-toggle {
      display: block;
    }
    .links {
      display: none;
      margin-right: 40px;
      a {
        display: block;
        line-height: $topbar-height;
        border-width: 0;
        border-style: none;
      }
    }
  }
  header.open {
    max-height: 320px;
    .bg {
      opacity: 1 !important;
    }
    .links {
      display: block;
      padding-top: $topbar-height / 8;
      padding-bottom: $topbar-height / 4;

      a {
        line-height: $topbar-height * 3 / 4;
      }
    }
  }

}
